/* Name: ExploreGeorgetown Stylesheet */
/* Version: 1.1.0 */
/* Authors: Ignatius Hsu & John Rogerson */
/* Organization: KeyBridge http://keybridge.georgetown.edu */
/* Email: ivh at georgetown dot edu */
/* Date: Fall 2007 */
/* -------------------------------------------- */

/* Note: make site specific adjustments in your site's site_specific_explore.css */
/* Note 2: requires stylesheets versioned x.1.0 or higher */
/* Note 3: These div classes are case sensitive! */

/* TOC */
/* 1. Generic Views */
/* 2. Faculty Listing Views */
/* 3. Faculty Profile Views */
/* 4. Course Listing Views */


/* 1. Generic Views */
/* -------------------------------------------- */

#maincontent .viewGroupHeader { margin-left: 10px; }

/* currently disabled */
/*#maincontent .gu_view, #maincontent .gu_document  { margin-left:-30px; }*/
/* gu_view is used in most explore views, compensates for default style set in #content ul {margin-left}
sets font-size to default p
gu_document is used in some University Headlines */


/* 2. Faculty Listing Views */
/* -------------------------------------------- */

/* div class explore_facultylist is set in the KSE Remote Web page channel */
/* This list is pulled into KSE through a channel */

/* Margin & Padding: Resets some styles */
/* -------------------------------------------- */
#maincontent .explore_facultylist,
#maincontent .Faculty_List
{ margin: 0; padding: 0; }
#maincontent .explore_facultylist .ViewTitle { margin-bottom: 10px; }
#maincontent .explore_facultylist ul { margin-left: 0; }
/* Many h2 entries are succeeded by an empty div class,
creating a space underneath h2. This style compensates
for the div tags by creating uniform margin top and bottom separation */
#maincontent .Faculty_List h2 { padding-top: 10px; margin: 0 0 10px 0; }
#maincontent .gu_person { margin: 0 0 10px 0; }
/* viewGroupHeader appears to be a place for notes, should it be visible? */
#maincontent .Faculty_List .viewGroupHeader { margin: 0 0 0 20px; }

/* Base Font Styles: Resets some styles */
/* -------------------------------------------- */
#maincontent .explore_facultylist,
#maincontent .Faculty_List
{
font-size: 1em;
font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;	
}
#maincontent .Faculty_List h2 { font-size: 1.2em; } /*1.2x1.2=1.4*/
#maincontent .Faculty_Name
{ font-size: 1em; font-weight: bold; } /*1x1.2=1.2*/
#maincontent .Faculty_Titles { font-size: 1em; } /*1x1.2=1.2*/
/* viewGroupHeader appears to be a place for notes, should it be visible? */
#maincontent .Faculty_List .viewGroupHeader  { color: #999; font-style: italic; }

/* ---- Section Separators ---- */
#maincontent .Faculty_List h2 { border-top: 1px dashed #bbb; }


/* 3. Faculty Profiles */
/* -------------------------------------------- */

/* Margin & Padding: Resets some styles */
/* -------------------------------------------- */
/* Sets margin and padding of empty div tags to 0 */
#maincontent .gu_profile, #maincontent .gu_profileitem,
#maincontent ul.gu_profilenav,
#maincontent .gu_profilenav li
{ margin: 0; padding: 0; }


/* Base Font Styles */
/* -------------------------------------------- */
#maincontent .gu_profile h5, 
#maincontent .gu_profile p,
#maincontent .gu_profile li,
#maincontent .gu_profileitemcontent h5
{ font-size: 1em; font-style: normal; font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif; }
#maincontent .gu_profilenav li { font-size: 1em;}
/* Web site font size reduced to accommodate long URLs */
#maincontent .gu_profilebody .gu_profileitem_website a
{ font-size: 0.75em; }

/* Fac Profile Name, Title & Status */
/* -------------------------------------------- */
#maincontent .gu_profileheader h3
{
font-size: 1.33em; /*1.33x1.2=1.6*/
font-weight: bold;
margin-bottom: 5px;
}

#maincontent .gu_profileitem_title .gu_profileitemlabel,
#maincontent .gu_profileitem_status .gu_profileitemlabel
{ display: none; }

#maincontent .gu_profileitem_title .gu_profileitemcontent
{ font-size: 1.1em; /*1.1x1.2=1.3*/ }

#maincontent .gu_profileitem_status .gu_profileitemcontent
{
font-size: 1.1em; /*1.1x1.2=1.3*/
font-style: italic;
}

/* Fac Profile Tabbed Headers */
/* -------------------------------------------- */
#maincontent ul.gu_profilenav
{
float:left;
display: inline;
width: 97%;
border-bottom: 1px solid #305bad;
margin-bottom: 10px;
margin-top: 20px;
padding-left: 5px;
padding-bottom: 0px;
list-style-type: none;
}

#maincontent ul.gu_profilenav li
{
/*font-size: 1em; /*do not change*/
float: left;
margin: 0 1px;
display: block;
}

#maincontent .gu_profile li.gu_profilenavitemon
{
border-left: 1px solid #305bad;
border-top: 1px solid #305bad;
border-right: 1px solid #305bad;
background: #c2d2ed;
color: #1c3664;
padding: 4px 7px 4px 7px;
}

#maincontent li.gu_profilenavitemoff
{
background-color: #fff;
padding: 4px 0 5px 0;
}

#maincontent .gu_profile li.gu_profilenavitemoff a:link,
#maincontent .gu_profile li.gu_profilenavitemoff a:visited
{
text-decoration:none;
font-weight:bold;
border-left: 1px solid #999;
border-right: 1px solid #999;
border-top: 1px solid #999;
background: #fff;
padding: 4px 7px 7px 7px;	
}
#maincontent .gu_profile li.gu_profilenavitemoff a:hover
{
text-decoration: none;
font-weight:bold;
color: #666;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-top: 1px solid #ccc;
background: #eee;
padding: 4px 7px 7px 7px;
}

#maincontent li.guprofilenavitemoff
{ margin:0; padding: 0; }

/* Fac Profile Content */
/* -------------------------------------------- */
#maincontent .gu_profilebody
{
/* Faux column */
background: url(bg-explore-facultyprofile.gif) repeat-y 0 50%;
float: left;
/* Important, overrides embedded stylesheet; */
margin-left: 0;
padding-top: 5px;
}

#maincontent .gu_profilebody h4.gu_profileitemlabel
{
clear: both;
display: inline;
float: left;
text-align: right;
width: 100px;
margin: 0 10px 0 0;
padding: 0 10px 0 0;
/*background: url(explore_facprofile_round.gif) top left no-repeat #eee;*/
background: url(explore_facprofile_clip.gif) top left no-repeat #eee;
font-size: 1.1em; 
font-weight: normal;
font-style: italic;
}

#maincontent .gu_profileitemcontent ul { margin-left: 20px; }

#maincontent .gu_profilebody .gu_profileitemcontent
{
/*position: relative;*/
display: inline;
float: left;
text-align: left;
width: 430px;
/*padding-right: 65px;*/
margin-bottom: 10px;
font-size: 1.1em;
}

/* ---- Width Calculations ---- */
/*
If a site's vert nav exceeds specified width, stylesheet will break!
Note: make site specific adjustments in site_specific_explore.css

MAX vert nav column width = 210px
= 780px-Profile Body Width
= 780px-570px

Profile Body Width = 570px
10px (default left margin)
+100px (profile item label)
+20px (profile item label right margin)
+430px (profile item content)
+10px (default right margin)
*/

/* Fac Profile Content: Portrait */
/* -------------------------------------------- */
/* displays portrait in profile, where available */
#maincontent .gu_profileitem_portrait
{ display: inline; }

/* Must be a better way!
#maincontent .gu_profileitem_portrait .gu_profileitemcontent { height: 10px; margin-top: -10px; }
*/

#maincontent .gu_profileitem_portrait .gu_profileitemcontent img
{
float: left;
padding: 2px;
border: 1px solid #ccc;
display: inline;
/* ExploreGeorgetown portrait dimensions: 4:5 (Width:Height)
Standard thumbnails: 120px x 150px
Higher res photos: 200px x 250px */
width: 120px;
height: 150px;
}

#maincontent .gu_profileitem_portrait h4.gu_profileitemlabel
{ display: inline; }


/* 4. Course Listing Views */
/* -------------------------------------------- */

/* Margin & Padding: Resets some styles */
/* -------------------------------------------- */
#maincontent .Sections_List { padding: 0; margin: 0; }
#maincontent .explore_courselist ul { margin-left: 0; }
/* div class explore_courselist is set in the KSE Remote Web page channel */
#maincontent .explore_courselist .ViewTitle { margin-bottom: 10px; }

/* Base Font Styles: Resets some styles */
/* -------------------------------------------- */
#maincontent .Sections_List,
#maincontent .Sections_List h1,
#maincontent .Sections_List h2,
#maincontent .Sections_List h3,
#maincontent .Sections_List h4,
#maincontent .Sections_List h5,
#maincontent .Sections_List h6
{
font-size: 1em;
font-weight: normal;
font-style: normal;
font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;	
}

#maincontent .Sections_List h1 { font-size: 1.33em; }
#maincontent .Sections_List h2 { font-size: 1.2em; }
#maincontent .Sections_List h3,
#maincontent .Sections_List h4,
#maincontent .Sections_List h5
{ font-size: 1.1em; }
/* style sheet equivalents: h1=h3, h2=h4, h3=h5 and h4=h6, h5=h6*/
#maincontent .Sections_List h6 { font-size: 1em; }
/* style sheet equivalents: h6=regular paragraph bold */

#maincontent .Sections_List h1,
#maincontent .Sections_List h2,
#maincontent .Sections_List h3
{ font-weight: bold; }
#maincontent .Sections_List h3,
#maincontent .Sections_List h4,
#maincontent .Sections_List h5
{ font-style: italic; }
#maincontent .Sections_List h6 { font-weight: bold; }

#maincontent .Sections_List h5
{
border-bottom: 1px solid #999;
margin-top: 15px;
padding-bottom: 3px
}
#maincontent .Sections_List h6 { margin-top: 15px; }

#maincontent .Sections_List .Sections_ListItem { margin-bottom: 7px; }
#maincontent .Sections_List .Sections_Section tt
{
font-size: 1.2em;
margin-right: 5px;
/* last two lines are experimental */
border: 1px solid #ccc;
border-left: 5px solid #ccc;
padding: 1px 4px;
background: #eee;
}



/* 4. Course Listing Views for Course_List, STILL TESTING */
/* -------------------------------------------- */

/* Margin & Padding: Resets some styles */
/* -------------------------------------------- */
#maincontent .Courses_List { padding: 0; margin: 0; }
#maincontent .explore_courselist ul { margin-left: 0; }
/* div class explore_courselist is set in the KSE Remote Web page channel */
#maincontent .explore_courselist .ViewTitle { margin-bottom: 10px; }

/* Base Font Styles: Resets some styles */
/* -------------------------------------------- */
#maincontent .Courses_List,
#maincontent .Courses_List h1,
#maincontent .Courses_List h2,
#maincontent .Courses_List h3,
#maincontent .Courses_List h4,
#maincontent .Courses_List h5,
#maincontent .Courses_List h6
{
font-size: 1em;
font-weight: normal;
font-style: normal;
font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;	
}

#maincontent .Courses_List h1 { font-size: 1.33em; }
#maincontent .Courses_List h2 { font-size: 1.2em; }
#maincontent .Courses_List h3,
#maincontent .Courses_List h4,
#maincontent .Sections_List h5
{ font-size: 1.1em; }
/* style sheet equivalents: h1=h3, h2=h4, h3=h5 and h4=h6, h5=h6*/
#maincontent .Sections_List h6 { font-size: 1em; }
/* style sheet equivalents: h6=regular paragraph bold */

#maincontent .Courses_List h1,
#maincontent .Courses_List h2,
#maincontent .Courses_List h3
{ font-weight: bold; }
#maincontent .Courses_List h3,
#maincontent .Courses_List h4,
#maincontent .Courses_List h5
{ font-style: italic; }
#maincontent .Courses_List h6 { font-weight: bold; }

#maincontent .Courses_List h5
{
border-bottom: 1px solid #999;
margin-top: 15px;
padding-bottom: 3px
}
#maincontent .Courses_List h6 { margin-top: 15px; }

#maincontent .Courses_List .Courses_ListItem { margin-bottom: 10px; }
#maincontent .Courses_List .Courses_Title { margin-left: 20px; }
#maincontent .Courses_List .Courses_Title tt
{
font-size: 1.2em;
margin-left: -20px;
/* This 20px adjustment sets the course number to the left,
creating an appearance that the course number is the list item bullet */
margin-right: 5px;
/* last two lines are experimental */
border: 1px solid #ccc;
border-left: 5px solid #ccc;
padding: 1px 4px;
background: #eee;
}
#maincontent .Courses_List .Courses_Faculty { margin-left: 20px; }