/* Site: SITE NAME */
/* Site URL: http://www1.georgetown.edu/ROOTFOLDER/ */
/* Name: Site Specific Stylesheet */
/* Developed by KeyBridge http://keybridge.georgetown.edu */
/* Based on Version 1.1.3 */
/* Date: April 2007 */
/* -------------------------------------------- */

/* TOC */
/* 1. Global Styles */
/* 2. Faux Column (Column Border) Styles */
/* 3. Nameplate (Banner) Styles */
/* 4. Layout Channel ID Styles */
/* 5. Content Styles */
/* 6. Navigation Styles */
/* 7. Header/Footer (Global Nav) Styles */
/* 8. Browser Fixes */
/* -------------------------------------------- */


/* 1. Global Styles */
/* -------------------------------------------- */

/* Site Styles */
/* -------------------------------------------- */

body
{
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5;
color: #333;
background: #fff;
background: url('bg_blue.jpg') 0 0 repeat-x #dce2f0;
}
h1 { font-size: 1.8em; }
h2 { font-size: 2.4em; }
h1, h2 { font-weight: bold; }

/* HTML Editor Styles */
/* -------------------------------------------- */

/* Note: encapsulate content inserted by the html editor with div class tags.
Either declare a div tag in the editor (Site Setup), or declare the div tag
in individual page templates/skins */

/* Note 2: all font-sizes in #maincontent and #extracontent multiply by 1.2em */

/* base font-size applied to ALL content in editor div class */
#maincontent .editor, #extracontent .editor { font-size: 1.2em; }
h3 { font-size: 1.33em; } /*1.33x1.2=1.6*/
h4 { font-size: 1.2em; } /*1.2x1.2=1.44*/
h5, h6 { font-size: 1.1em; } /*1.1x1.2=1.2*/
p, li, dt, dd { font-size: 1.0em; }
/* keep at 1em, declare font-size for these styles in the default #content .editor tag */
h3, h4, h5 { font-weight: bold; }
h5, h6 { font-style: italic; }


/* 2. Faux Column (Column Border) Styles */
/* -------------------------------------------- */

#container { border: 1px solid #000; }

#sitebody { width: 780px; text-align: left; margin: 0px 0; padding: 15px 0; float: left; }
/* these attributes allow the sitebody container to wrap around the content and vertnav div ids */

.col-SMX #sitebody { background: #fff url(bg-SMX.gif) repeat-y 0 50%; }
.col-SM #sitebody { background: url(bg-SM.gif) repeat-y 0 50%; }
.col-MX #sitebody { background: url(bg-MX.gif) repeat-y 0 50%; }


/* 3. Nameplate (Banner) Styles */
/* -------------------------------------------- */

#header
{
color: #fff;
background: url(nameplate.gif) 0 0 no-repeat #666;
height: 50px;
clear: both;
text-indent: -180px;
/* border: 3px solid #000000;*/
}
/* Image replacement: Set the height of the nameplate image.
Remove background color setting.
If necessary, remove .globalnav ul background color setting
Text-indent setting places the title text off the screen,
allowing screen readers access to the title text when a nameplate image replaces the title text */

#header h2 a:link, #header h2 a:visited { color: #fff; }
#header h2 a:hover { color: #eee; }

#header h2
{
line-height: 50px;
margin-left: 191px;
}

/* 4. Layout Channel ID Styles */
/* -------------------------------------------- */


/* 5. Content Styles */
/* -------------------------------------------- */

/* Content */
/* -------------------------------------------- */

#content a:link, #content a:visited { 
color: #003366; 
text-decoration: none;
font-weight: bold;

} 
#content a:hover { 
color: #003366; 
text-decoration: underline;

} 
#content dl dt
{
font-style: italic;
font-weight: bold;
}
/* Add font style to definition list terms */

/* ---- Table Styles, Borders, Backgrounds ---- */

/* default style */
#content table { border-collapse: collapse; }
#content th
{
border: 1px #666 solid;
border-bottom: 2px #666 solid;
text-align: center;
font-weight: bold;
background: #eee;
vertical-align: top;
}
#content td { font-weight: normal; border: 1px #666 solid; vertical-align: top; }
#content table tr.even {background: #eee;}

/* Main Content */
/* -------------------------------------------- */

#maincontent #eventsarchive ul p
{
margin-left: -30px;
}
/* ul left margin defaults at 40px. For Events Archive, this resets the p tags nested within a list to 10px left margin.*/

/* Extra Content */
/* -------------------------------------------- */

/*
#extracontent { background: #eee; }
*/
/* Sets background color for content in vertical navigation.
For full column shading, use the image, bg-xyz.gif } */

#extracontent ul { margin: 0 0 0 15px; }
#extracontent li { margin-right: 10px; }
#extracontent p { margin-top: 10px; }

/* resets margin-right and margin-bottom on vertical navigation to 0,
default setting is 10px. This style provides consistent
column width for bullets and "More..." links
Margin-bottom is necessary only for consistency between Anncouncemtns,
Upcoming Events and other channelBoxes... Upcoming Events pulls from the Explore calendar
and does not encase the "More..." link in a ul tag
*/

#extracontent li#moreannouncements
{
text-align: right;
list-style-type: none;
margin-right: 0;
margin-bottom: 10px;
}

#extracontent li#noannouncements
{
list-style-type: none;
margin-left: -15px;
}

#extracontent p#moreevents { text-align: right; }

#extracontent p#noevents{ text-align: left; }

/* ChannelBox */
/* -------------------------------------------- */

/* This style declaration is not used in new wireframe */
.channelBox p { text-align: right; }

/* 6. Navigation Styles */
/* -------------------------------------------- */

/* Vertical Navigation */
/* -------------------------------------------- */

/*
#vertnav { background: #eee; }
*/
/* Sets background color for content in extra content container.
For full column shading, use the image, bg-xyz.gif } */

#vertnav ul
{
font-weight: bold;
margin-bottom: 20px;
}
#vertnav ul ul { margin-bottom: 0; }
#vertnav li 
{
font-size: 1.2em;
border-bottom: 1px solid #ccc;
}
#vertnav li li
{
font-size: 0.9em;
border-bottom: none;
/*padding-left: 0;
padding-right: 0;*/
}
#vertnav li li li { font-size: 1em; }
#vertnav a:link, #vertnav a:visited { color: #333; }
#vertnav a:hover { color: #666; display: block; }

#vertnav li a { display: block; width: 160px; }
#vertnav li li a { display: block; width: 150px; }
#vertnav li li li a { display: block; width: 140px; }
#vertnav li li li li a { display: block; width: 130px; }

#vertnav .ksNavPathSection, #vertnav .ksNavCurrentSection { background-color: #ccc; }
#vertnav a:link.ksNavCurrentSectionLink, #vertnav a:visited.ksNavCurrentSectionLink { color: #000; font-style: italic; }
#vertnav a.ksNavCurrentSectionLink a:hover { color: #666; }

/* ---- Search ---- */

#search { margin: 0 0 30px 0; padding: 0; }
#search fieldset { border: none; }

/* for search box title */
#search label
{
font-size: 1em;
font-style: normal;
text-decoration: none;
font-weight: normal;
margin-left: 10px;
display: block;
text-transform: lowercase;
}

/* for search box input */
#search input#googlesearchbox
{
font-size: 0.9em;
color: #333;
border: 1px solid #666;
padding: 3px 3px;
margin-left: 10px;
background: #f5f5f5;
}

#search input#buttontext
{
margin: 0 0 0 2px;
padding: 0;
border: 1px solid #666;
vertical-align: bottom;
}

#search input#buttonicon { border: none; margin-left: 3px; }
#search label.buttoniconlabel { display: none; }

/* ---- Contact Form Page ---- */

#contact-form fieldset
{
padding: 10px;
border: 1px solid #999;
background: #eee;
}
#contact-form div { margin-bottom: 10px; }
#contact-form label { font-weight: bold; display: block; }
#contact-form input#contactEmail, #contact-form textarea
{
width: 325px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
border: 1px solid #53648a;
padding: 3px;
color: #333;
font-size: 1.2em;
}
#contact-form input#submit, #contact-form input#reset
{
border: 1px solid #53648a;
background: #fff;
color: #333;
}

#contact-form .contactError
{
color: #53648a;
border: 1px dotted #53648a;
padding: 3px;
text-align: center;
width: 325px;
font-style: italic;
font-weight: bold;
}

/* Horizontal Navigation */
/* -------------------------------------------- */

#horznav li
{
float: left;
width: 259px; /*319px;*/
border-right: 1px solid #fff;
}
/*
"Simple" fixed-width horznav formula where border-right =< 3px
width = (780/x) - border-right
i.e. x = 3, border-right = 2px
258px = (780/3) - 2px

"Full" formula where border-right > 3px
width = (780/x) - [((x-1) * border-right)/x]
where x = number of audience/subject tabs in navigation
Note: round number to nearest whole number
i.e. x = 3, border-right = 1px
259.66px = (780/3) - [((3-1) * 1px)/3]
round to 259px
*/

/* edit the ksSection ID if using horizontal navigation */
#horznav li#ksSection1825
{
width: 260px; /*320px;*/
border-right: none;
}
/*
"Simple" formula where border-right =< 3px
width = (780/x)
i.e. x = 3, border-right = 2px
260px = 780/3

"Full" formula where border-right > 3px
width = 780px - [(x-1) * (#horznav li width + border-right)]
i.e. x = 3, border-right = 1px
 260px = 780px - [(3-1) * (259 + 1)]
*/

#horznav a
{
display: block;
float: left;
width: 259px; /*319px;*/
color: #fff;
background: #333;
text-align: center;
padding: 5px 0;
font-weight: bold;
}

#horznav li#ksSection1825 a { width: 260px; /*320px;*/ }

#horznav a:hover
{
color: #fff; 
background: #666;
}

/* ---- Breadcrumbs Navigation ---- */

#maincontent .breadcrumbs ul { list-style: none; }

#maincontent .breadcrumbs li
{
display: inline;
margin: 0;
text-transform: uppercase;
/*font-size: 0.9em;*/
font-weight: bold;
}

#maincontent .breadcrumbs li a:link,
#maincontent .breadcrumbs li a:visited
{
color: #666;
text-decoration: underline;
}

#maincontent .breadcrumbs li a:hover
{
color: #666;
text-decoration: none;
}


/* 7. Header/Footer (Global Nav) Styles */
/* -------------------------------------------- */

/* Global Navigation */
/* -------------------------------------------- */

.globalnav
{
/*height: 26px;*/
width: 780px;
float: left;
background: #003366;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #EEEEEE;
padding-bottom: 5px;
}

.globalnav a:link, .globalnav a:visited
{ color: #fff; }
.globalnav a:hover {color: #ccc;}
.globalnav {color: #fff;}

.globalnav h1
{
/* text indent that's compatible with Safari and IE (no line spacing) */
text-indent: -9999px;
z-index: 2;
position: absolute;
float: left;
background: url(gunameplate_blue.jpg) 0 0 no-repeat;
margin: 5px 0 0 10px;
height: 23px;
width: 108px;
}

.globalnav ul
{
padding: 6px 4px 4px 5px;
margin: 0;
}
/* Math gets tricky:
padding-left(/right) = .globalnav ul padding left (/right)
+ .globalnav ul li padding left (/right)
Currently, both left and right are = 10px
*/

.globalnav ul.right
{
width: auto;
float: right;
text-align: right;
}

.globalnav ul li
{
font-size: 0.9em;
display: inline;
border-right: 1px solid #fff;
padding-left: 5px;
padding-right: 6px;
}

.globalnav ul li.menulast { border-right: none; }

/* Footer */
/* -------------------------------------------- */

#footer { position: relative; }

#footerwrap
{
float: left;
width: 780px;
background: #003366;
padding: 6px 0 4px 0;
}

#footer p.contact a:link,
#footer p.contact a:visited
{ color: #fff; }
#footer p.contact a:hover { color: #ddd; }
#footer p.contact
{
width: auto;
padding-left: 10px;
float: left;
color: #fff;
line-height: 1.3;
margin: 0;
}

#footer p.footlogo
{
text-indent: -9999px;
height: 32px;
width: 147px;
margin-left: 0;
margin-right: 10px;
display: inline;
float: right;
background: url(gunameplate_seal_blue.jpg) no-repeat center left;
}
/* Image Replacement for globalnav footer */

/* For page footer that differs from header - replaces standard contact footer
#footer p a:link, #footer p a:visited { color: #fff; }
#footer p a:hover { color: #ddd; }

#footer
{ 
position: relative;
background: #666;
}

#footer p
{
line-height: 1.3;
margin: 5px 5px 0 10px;
padding-top: 5px;
color: #fff; 
}
*/

/* 8. Browser Fixes */
/* -------------------------------------------- */

#maincontent { overflow: hidden; }
/* IE fix: When images are wider than the main content container,
they cause the page to break in IE. This fix causes any image overflow
to hide, allowing IE to display properly. */






pre.code {
  font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Monaco, Courier, monospace;
  white-space: pre;
  width: 39.5em;
  line-height: 1.4em;
  margin: 1em 0;
  border: 1px dashed #aaa8a8;
  padding: 0.5em 0 0.3em 0.5em;
  font-size: 110%;
  color: #000;
  overflow: auto;
}

code {
  font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Monaco, Courier, monospace;
  font-size: 110%;
}

table.format, th.format, td.format, tr.format {
  border:0;
}  






